<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <i class="material-icons main-icon">
            restaurant_menu
        </i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Przepisy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/favorite" routerLinkActive="active">Ulubione</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/recipecreator" routerLinkActive="active">Kreator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shoplist" routerLinkActive="active">Lista zakupów</a>
            </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0">
            <i class="material-icons auth-icon">
                fingerprint
            </i>
        </button>
    </div>
</nav>